absl-py
annotated-types
anyio
astunparse
cachetools
certifi
charset-normalizer
click
cloudinary
dlib
dnspython
email-validator
exceptiongroup
fastapi
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h11
h5py
httpcore
httptools
httpx
idna
imageio
imageio-ffmpeg
importlib-metadata
itsdangerous
Jinja2
keras
libclang
Markdown
MarkupSafe
mtcnn
numpy
oauthlib
opencv-python
opt-einsum
orjson
packaging
Pillow
protobuf
psutil
pyasn1
pyasn1-modules
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-decouple
python-dotenv
python-multipart
PyYAML
requests
requests-oauthlib
rsa
six
sniffio
starlette
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
ujson
urllib3
uvicorn
uvloop
watchfiles
websockets
Werkzeug
wrapt
zipp
