absl-py
aiohttp
aiohttp-retry
aiosignal
asgiref
astunparse
async-timeout
attrs
cachetools
certifi
charset-normalizer
dj-database-url
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
dlib
drf-yasg
face-recognition
face-recognition-models
flatbuffers
frozenlist
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
imageio
importlib-metadata
inflection
keras
libclang
Markdown
MarkupSafe
mtcnn
multidict
numpy
oauthlib
opencv-python
opt-einsum
packaging
Pillow
protobuf
psycopg2
psycopg2-binary
pyasn1
pyasn1-modules
PyJWT
python-decouple
pytz
PyYAML
requests
requests-oauthlib
rsa
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
twilio
typing_extensions
uritemplate
urllib3
Werkzeug
whitenoise
wrapt
yarl
zipp